body {
 margin:0;
 font-family: 'Times New Roman', Times, serif;
}

.big-image {
    height:100vh;
    width:100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image:url(https://www.rnz.co.nz/assets/news/225984/eight_col_school.jpg?1584854206)
}

.overlay {
    position:absolute ;
    height: 100% ;
    width: 100% ;
    background: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay h1 {
    font-size: 65px;
    letter-spacing: 2px;
    margin: 0 0 5px;
}

.overlay p {
    margin:0 ;
    font size: 26px;
}